# -*- mode: shell-script -*-
# Copyright (C) 2022-2024 Free Software Foundation, Inc.
#
# This file is part of GNU Emacs.
#
# GNU Emacs is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3, or (at your option)
# any later version.
#
# GNU Emacs is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.
#
# Use 'lldb --local-lldbinit' or add to your ~/.lldbinit the line
#
# settings set target.load-cwd-lldbinit true
#
# Emacs-specific commands start with 'x'.  Type 'help' to see all
# commands.  Type 'help <command>' to see help for a command
# <command>.

# Make Python find our files
script -- sys.path.append('../etc')

# Load our Python files
command script import emacs_lldb

# b xsignal
b pkg_break
b igc_break
b wrong_type_argument

#b pkg_error
#b Fpkg_read
# To find out from where macOS prints stuff to stderr, like
# 023-07-20 13:41:17.073449+0200 emacs[53072:1205906] [default]
#    CGSWindowShmemCreateWithPort failed on port 0
# b libsystem_trace.dylib``_os_log_error_impl
# Print with children provider, depth 2.
command alias xprint frame variable -P 2

# process handle -p true -s false SIGSEGV
# process handle -p true -s false SIGBUS

settings set -- target.run-args --batch  -l loadup --temacs=pbootstrap --bin-dest --eln-dest

#settings set -- target.run-args -l ../lisp/emacs-lisp/loaddefs-gen.elc -f loaddefs-generate--emacs-batch . ../lisp/calc ../lisp/calendar ../lisp/cedet ../lisp/cedet/ede ../lisp/cedet/semantic ../lisp/cedet/semantic/analyze ../lisp/cedet/semantic/bovine ../lisp/cedet/semantic/decorate ../lisp/cedet/semantic/symref ../lisp/cedet/semantic/wisent ../lisp/cedet/srecode ../lisp/emacs-lisp ../lisp/emulation ../lisp/erc ../lisp/eshell ../lisp/gnus ../lisp/image ../lisp/international ../lisp/language ../lisp/leim ../lisp/leim/ja-dic ../lisp/leim/quail ../lisp/mail ../lisp/mh-e ../lisp/net ../lisp/nxml ../lisp/org ../lisp/play ../lisp/progmodes ../lisp/textmodes ../lisp/url ../lisp/use-package ../lisp/vc

#settings set -- target.run-args -batch --no-site-file --no-site-lisp -f batch-byte-compile ../admin/unidata/uvs.el

# end.
